################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
Ashray/bin
Ashray/obj
Ashray/.vs