
@{
    ViewBag.Title = "PostHospital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Post <span class="text-danger">a Load</span></h2>

        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>

            <li class="active">
                <strong>Post a Hospital</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="ibox-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label>FROM <em style="color:red"> *</em></label> <input placeholder="Enter email" class="form-control" type="email"></div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label>TO <em style="color:red"> *</em></label> <input placeholder="Enter email" class="form-control" type="email"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Material <em style="color:red"> *</em></label><select name="ddlMaterial" id="ddlMaterial" class="form-control">
                            <option selected="selected" value="Select">Select</option>
                            <option value="45">Bardana jute/plastic</option>
                            <option value="18">Building Materials</option>
                            <option value="4">Chemicals</option>
                            <option value="16">Coal And Ash</option>
                            <option value="6">Container</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Truck Type <em style="color:red"> *</em></label><select name="ddlTruckType" id="ddlTruckType" class="form-control">
                            <option value="Select">Select</option>
                            <option value="1">Canters (0 -10 feet)</option>
                            <option value="2">Canters (5 -15 feet)</option>
                            <option value="3">Canters (11 -16 feet)</option>
                            <option value="4">Canters (15 -17 feet)</option>
                            <option value="5">Canters (14 -30 feet)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Scheduled Date <em style="color:red"> *</em></label><div class="input-group date form_datetime-component">
                            <input name="txtDate" maxlength="10" id="txtDate" class="form-control hasDatepicker" readonly type="text">
                            <span class="input-group-btn">
                                <button id="datePicker" class="btn btn-danger date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Weight(MT) <em style="color:red"> *</em></label> <select name="ddlWeight" id="ddlWeight" required class="form-control">
                            <option value="Select">Select</option>
                            <option value="0-3">0-3</option>
                            <option value="3 - 5">3 - 5</option>
                            <option value="5 - 7">5 - 7</option>
                            <option value="7 - 9">7 - 9</option>
                            <option value="9 - 15">9 - 15</option>
                            <option value="15 - 20">15 - 20</option>
                            <option value="20 - 30">20 - 30</option>
                            <option value="30 - 40">30 - 40</option>
                            <option value="40 Above">40 Above</option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Quantity <em style="color:red"> *</em></label><select name="ddlNoOfTrucks" id="ddlNoOfTrucks" class="form-control">
                            <option value="0">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <br>
                        <br>
                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" onClick="location.href='loaddetails.html'" type="submit"><strong>SUBMIT</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-left:20px;">
            <h2 class="font-bold  text-danger">Already Registered</h2>

            <p>
                Click Here to Login
            </p><br>
            <h2 class="font-bold text-danger">Registered Options</h2>

            <ul>
                <li>Customer Registration</li>
                <li>Transporter Registration</li>
                <li>Packers And Movers Registration</li>
            </ul>



        </div>
    </div>
</div>