
@{
	ViewBag.Title = "ViewPatient";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Create <span class="text-danger"> Your Account</span></h2>
		<ol class="breadcrumb">
			<li>
				<a href="index-2.html">Home</a>
			</li>

			<li class="active">
				<strong>Registation Form</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<br>
<div class="ibox-content">
	<div class="row">
		<div class="col-md-12">
			<h3 class="m-t-none m-b text-navy">Sign in</h3>
			<form role="form">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label><em style="color:red"> *</em>&nbsp;Patient Name:</label>
						</div>
						<div class="col-md-8">
							<input placeholder="Patient Name" class="form-control" type="text">
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;Patient
								Id:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="Patient Details" class="form-control" type="text">
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;RTPCR Number:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="RTPCR Number" class="form-control" type="text">
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;SPO2:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="SPO2" class="form-control" type="text">
						</div>
					</div>

				</div><br>


				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;Body Temperature:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="Body Temperature" class="form-control" type="text">
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;BP:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="BP" class="form-control" type="text">
						</div>
					</div>

				</div><br>



				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4"><label class="control-label">&nbsp;Room Number:</label></div>
						<div class="col-md-8">
							<input placeholder="Room Number" class="form-control" type="text">
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;Bed
								Number:
							</label>
						</div>
						<div class="col-md-8">
							<input placeholder="Bed Number" class="form-control" type="text">
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class=" control-label">
								<em style="color:red"> *</em>&nbsp;CheckIn
								Date:
							</label>
						</div>
						<div class="col-md-8"><input placeholder="Enter Password" class="form-control" type="date"></div>
					</div>
					<div class="col-md-6">
						<div class="col-md-4"><label class="control-label">CheckOut Date</label></div>
						<div class="col-md-8"><input placeholder="Enter From" class="form-control" type="date"></div>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class=" control-label">
								<em style="color:red"> *</em>&nbsp;Pre joining :
							</label>
						</div>
						<div class="col-md-8"><input placeholder="Pre joining" class="form-control" type="file"></div>
					</div>
					<div class="col-md-6">
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class=" control-label">
								<em style="color:red"> *</em>&nbsp;Post Joining :
							</label>
						</div>
						<div class="col-md-8"><input placeholder="Post Joining" class="form-control" type="file"></div>
					</div>
					<div class="col-md-6">
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class=" control-label">
								<em style="color:red"> *</em>&nbsp;Discharge :
							</label>
						</div>
						<div class="col-md-8"><input placeholder="Discharge" class="form-control" type="file"></div>
					</div>
					<div class="col-md-6">
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							<label class="control-label">
								<em style="color:red"> *</em>&nbsp;Doctor's
								Inputs:
							</label>
						</div>
						<div class="col-md-8">
							<textarea id="doctorsInputs" class="form-control" rows="4" cols="50"></textarea>
						</div>
					</div>
				</div><br />
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-sm btn-primary pull-Center m-t-n-xs" style="float: right;
                  margin-bottom: 7px;" type="submit">
							<strong>Submit</strong>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>