
@{
    ViewBag.Title = "vaccinationSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox-content">
    <div class="row">
        <h5 class="m-t-none m-b text-navy" style="text-align: center;">We are Here to Here - Realpage Vaccination drive comes to you to ensure you and your family safity !!</h5>
        <form>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameoftheperson">Name of the person</label>
                        <input type="text" class="form-control" id="nameoftheperson">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="currentlocation">Current Location</label>
                        <input type="text" class="form-control" id="currentlocation">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Are you Vaccinated ?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedyes" value="yes">
                            <label class="form-check-label" for="areyouvaccinatedyes">YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedno" value="no">
                            <label class="form-check-label" for="areyouvaccinatedno">NO</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vaccinatedNo">

            </div>
            <div class="row personDetails">
                <div class="col-md-12 person1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            <input type="text" class="form-control" id="nameoftheperson1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            <input type="date" class="form-control" id="dateofvaccination1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            <input type="text" class="form-control" id="doseTeken1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            <input type="text" class="form-control" id="vaccinename1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            <input type="text" class="form-control" id="relation1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            <input type="date" class="form-control" id="duedate1">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person2">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson2">Name of the person</label>
                            <input type="text" class="form-control" id="nameoftheperson2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination2">Date of Vaccination</label>
                            <input type="date" class="form-control" id="dateofvaccination2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken2">Dose Taken</label>
                            <input type="text" class="form-control" id="doseTeken2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename2">Vaccine Name</label>
                            <input type="text" class="form-control" id="vaccinename2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation2">Relation</label>
                            <input type="text" class="form-control" id="relation2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate2">Due Date</label>
                            <input type="date" class="form-control" id="duedate2">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person3">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson3">Name of the person</label>
                            <input type="text" class="form-control" id="nameoftheperson3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination3">Date of Vaccination</label>
                            <input type="date" class="form-control" id="dateofvaccination3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken3">Dose Taken</label>
                            <input type="text" class="form-control" id="doseTeken3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename3">Vaccine Name</label>
                            <input type="text" class="form-control" id="vaccinename3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation3">Relation</label>
                            <input type="text" class="form-control" id="relation3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate3">Due Date</label>
                            <input type="date" class="form-control" id="duedate3">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person4">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson4">Name of the person</label>
                            <input type="text" class="form-control" id="nameoftheperson4">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination4">Date of Vaccination</label>
                            <input type="date" class="form-control" id="dateofvaccination4">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken4">Dose Taken</label>
                            <input type="text" class="form-control" id="doseTeken4">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename4">Vaccine Name</label>
                            <input type="text" class="form-control" id="vaccinename4">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation4">Relation</label>
                            <input type="text" class="form-control" id="relation4">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate4">Due Date</label>
                            <input type="date" class="form-control" id="duedate4">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person5">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson5">Name of the person</label>
                            <input type="text" class="form-control" id="nameoftheperson5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination5">Date of Vaccination</label>
                            <input type="date" class="form-control" id="dateofvaccination5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken5">Dose Taken</label>
                            <input type="text" class="form-control" id="doseTeken5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename5">Vaccine Name</label>
                            <input type="text" class="form-control" id="vaccinename5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation5">Relation</label>
                            <input type="text" class="form-control" id="relation5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate5">Due Date</label>
                            <input type="date" class="form-control" id="duedate5">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-md btn-primary pull-right m-t-n-xs" type="submit"><strong> Submit </strong></button>
        </form>
    </div>
</div>

